python conditional statement

if statemnent is used to checkin python to check tru or false

In [3]:
value = "maam"
if value == value[::-1]:
    print (f"{value} is palindrome")
else:
    print (f"{value} is not palindrome")

maam is palindrome

In [5]:
marks = int (input("Enter ur marks"))
if marks >= 80 :
    print("Grade A")
elif marks >= 60:
    print("Grade B")
elif marks >= 40:
    print ("Grade C")
else:
    print ("You have failed")

Enter ur marks 69

Grade B

In [6]:
base_str = "*"
for i in range (1,6,1):
    print(base_str * i )

*
**
***
****
*****

In [7]:
num = int(input("Enter an integer: "))

print(f"\nMultiplication Table for {num}:\n")

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter an integer:  10

Multiplication Table for 10:

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [1]:
names = ["Saimon","Jesus","Jhon"]
i = 0

while i< 3:
    print (names[i])
    i += 1

    if i == 1:
        continue

Saimon
Jesus
Jhon

In [8]:
names = ["Saimon","Jesus","Jhon"]
i = 0

while i< 3:
      if i == 1:
        continue
          
    print (names[i])
    i += 1

IndentationError: unindent does not match any outer indentation level (<string>, line 8)

In [14]:
n = 10
i=0
total = 0
while i <= n:
       total += i
       i += 1
print (total)

55

In [13]:
n = 20
i = 0
total = 0
while i <= n:
    total += i
    i += 1
print (total)

210

In [1]:
n = 50
i = 1
mul = 1

while i <= n:
    mul *= i
    i += 1
    
print (mul)

30414093201713378043612608166064768844377641568960512000000000000

In [3]:
## Comprehension

In [4]:
squared = [i ** 2 for i in range (1,20) if i % 2 == 0]
squared

[4, 16, 36, 64, 100, 144, 196, 256, 324]

In [8]:
nat = 10
numbers= [i for i in range(1,nat+1)]
total = sum (numbers)
print(total)

55

In [19]:
sen = "A single training set that has already been processed is usually split into several types of datasets in machine learning which is needed to check how well the training of the model went"
words= sen.split()
total = {words : len(words) for words in words if len(words)>5}
total

{'single': 6,
 'training': 8,
 'already': 7,
 'processed': 9,
 'usually': 7,
 'several': 7,
 'datasets': 8,
 'machine': 7,
 'learning': 8,
 'needed': 6}

In [1]:
# set comprehension

In [3]:
squared={i ** 2 for i in range (1,20)}
squared

{1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361}

In [10]:
prime={i ** 2 for i in range (1,21) if i % 2 != 0}
prime

{1, 9, 25, 49, 81, 121, 169, 225, 289, 361}

In [11]:
letters=["a","b","c"]
pairs={let1+let2 for let1 in letters for let2 in letters}

In [12]:
pairs

{'aa', 'ab', 'ac', 'ba', 'bb', 'bc', 'ca', 'cb', 'cc'}

In [15]:
names_list=["Shirish" , "Bob" , "Khadka"]

In [21]:
list(enumerate(name))

[(0, 'Shirish'), (1, 'Bob'), (2, 'Khadka')]

In [23]:
names_list = ["Shirish", "Bob", "Khadka"]

for i, name in enumerate(names_list, start=1):
    print(f"{name}: Roll no {i}")

Shirish: Roll no 1
Bob: Roll no 2
Khadka: Roll no 3

In [24]:
#map()

In [1]:
def calculate_sum(x:int , y:int) -> int:
    """ Calculate the sum """
    result = x + y
    return result

In [5]:
response = calculate_sum (x=5, y=6)
print (response)

11

In [6]:
def print_all(*args):
    print(args)

In [8]:
print_all(4,5,6,0,7,8,8,9,9,9,2,2)

(4, 5, 6, 0, 7, 8, 8, 9, 9, 9, 2, 2)

In [13]:
def print_kwargs(**kwargs):
    print(kwargs)

In [14]:
print_kwargs(len = 4 , breadth = 6)

{'len': 4, 'breadth': 6}

In [17]:
from math import sqrt
def calculate_std(value: list):
    N = len(value)
    mean = sum (value)/ N
    temp = sum([(x - mean) ** 2 for x in value])

    std = sqrt(temp / N)

    return round (std,2)

In [22]:
calculate_std([8,9,6,4,3,4,5,6,7])

1.87

In [25]:
cuboid_area= lambda l,b,h : 2 *( l * b + b * h + l * h)

In [27]:
cuboid_area(2,4,6)

88

In [7]:
class StudentResult:
    def __init__(self,name:str,marks:list[int]):
        self.name = name 
        self.marks = marks

    def total(self):
        return sum(self.marks)

    def average(self):
        return self.total()/len(self.marks)

    def display(self):
        print (f"Name: {self.name}")
        print ("-" * 50)
        print (f"Total marks obtained: {self.total()}")
        print (f"Average Marks: {self.average()}")

In [8]:
rohit= StudentResult("Rohit",marks=[91,46,13,75])

In [9]:
rohit.display()

Name: Rohit
--------------------------------------------------
Total marks obtained: 225
Average Marks: 56.25

In [34]:
class person:
    def __init__(self, name: str, age: int):
        self.name = name
        self.age = age

class employee(person):
    def __init__(self, name: str, age: int, employee_id: int):
        super().__init__(name, age)
        self.employee_id = employee_id

class manager(employee):
    def __init__(self, name: str, age: int, employee_id: int, department="not_defined"):
        super().__init__(name, age, employee_id)
        self.department = department

    def get_details(self):
        print(self.name, self.age, self.employee_id, self.department)

In [38]:
m = manager("shirish",23,101)

In [39]:
m.get_details()

shirish 23 101 not_defined

In [40]:
class example:
    def __init__(self):
        self.public = 1
        self.__private=2
        self._protected=3

    def public_method(self):
        print

In [1]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def __str__(self):
        return f"{self.year} {self.make} {self.model}"

my_car = Car("Toyota", "Camry", 2023)
print(my_car)  # Calls __str__ and prints "2023 Toyota Camry"
print(str(my_car)) # Calls __str__ and prints "2023 Toyota Camry"

2023 Toyota Camry
2023 Toyota Camry

In [12]:
class point:
    def __init__(self,x,y):
       self.x = x
       self.y = y

    def __str__(self):
        return f"Point({self.x},{self.y})"

    def __add__(self,other):
        x = self.x + other.x
        y = self.y + other.y

        return point(x,y)

In [13]:
A = point(3,4)
B = point(4,7)

In [14]:
A

In [15]:
print(A)

Point(3,4)

In [16]:
C = A + B

In [18]:
print(C)

Point(7,11)

In [3]:
def check_leap_year(year : int):
     return "Leap Year" if (year % 4 == 0 and year % 100 != 0 or year % 400 == 0) else "Not a Leap Year"

In [6]:
x = check_leap_year(2022)
print(x)

Not a Leap Year

In [4]:
def check_leap_year (year : int) :
    if year % 4 == 0 and year % 100 != 0 or year % 400 == 0 :
        print("leap year")
    else:
        print("not leap year")

In [7]:
check_leap_year(2000)

leap year

In [15]:
import datetime
today = datetime.date.today()
x=today.strftime("%A - %B %d , %Y")

In [16]:
print(x)

Monday - December 15 , 2025