In [9]:
import pandas as pd

columns_name = [
    "time", "gender", "matric_%", "study_year","faculty","gpa_2023","accomodation","allowance","scholarship","study_hours",
    "party_week","drinks_night","missed_classes", "failed_classes", "in_relationship","parent_approve","relation_parent"
]
student_data = pd.read_csv("survey_student.csv",names = columns_name,header = 0)
student_data.head(20)

,time,gender,matric_%,study_year,faculty,gpa_2023,accomodation,allowance,scholarship,study_hours,party_week,drinks_night,missed_classes,failed_classes,in_relationship,parent_approve,relation_parent
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
5,2024/03/07 5:13:18 pm EET,Male,83.0,NaN,Engineering,NaN,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,8+,4+,3-5,3,1,Yes,Yes,Very close
6,2024/03/07 5:13:22 pm EET,Male,80.0,2nd Year,Economic & Management Sciences,54.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,8+,2,5-8,1,0,No,Yes,Very close
7,2024/03/07 5:13:26 pm EET,Female,85.0,2nd Year,Arts & Social Sciences,75.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,3,3-5,2,0,Yes,Yes,Very close
8,2024/03/07 5:13:28 pm EET,Male,89.0,NaN,Engineering,NaN,NaN,R 5001 - R 6000,No,8+,Only weekends,3-5,0,NaN,No,Yes,Very close
9,2024/03/07 5:13:35 pm EET,Male,83.0,NaN,Science,NaN,NaN,R 6001 - R 7000,No,3-5,3,5-8,4+,0,No,Yes,Close
10,2024/03/07 5:14:04 pm EET,Female,75.0,NaN,AgriSciences,NaN,NaN,R 4001- R 5000,No,5-8,2,5-8,0,0,No,Yes,Close
11,2024/03/07 5:14:06 pm EET,Female,80.0,2nd Year,Arts & Social Sciences,75.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,8+,3,8+,0,0,No,Yes,Close
12,2024/03/07 5:14:08 pm EET,Male,79.0,2nd Year,Economic & Management Sciences,64.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,2,3-5,2,4+,No,Yes,Very close
13,2024/03/07 5:14:10 pm EET,Female,72.0,2nd Year,Economic & Management Sciences,76.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,1-3,1,3-5,0,0,Yes,Yes,Very close
14,2024/03/07 5:14:35 pm EET,Male,78.0,NaN,Science,NaN,NaN,NaN,NaN,3-5,2,5-8,0,0,No,Yes,Very close
15,2024/03/07 5:14:43 pm EET,Female,87.0,1st Year,Science,75.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,1-3,0,0,No,Yes,Very close
16,2024/03/07 5:14:50 pm EET,Female,86.0,NaN,Engineering,NaN,Private accommodation/ stay with family/friends,NaN,No,3-5,1,3-5,0,0,No,Yes,Fair
17,2024/03/07 5:14:51 pm EET,Male,74.0,1st Year,Economic & Management Sciences,65.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,1-3,4+,5-8,0,0,Yes,Yes,Very close
18,2024/03/07 5:15:05 pm EET,Female,83.0,NaN,Medicine and Health Services,NaN,Private accommodation/ stay with family/friends,NaN,No,8+,Only weekends,1-3,0,0,Yes,Yes,Very close
19,2024/03/07 5:15:08 pm EET,Male,69.0,2nd Year,Arts & Social Sciences,55.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,5-8,Only weekends,5-8,3,3,No,Yes,Very close